* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
    color: #333;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
}

.logo {
    color: #fff;
    font-size: 22px;
}

.navbar nav a {
    color: #d1d5db;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
}

.navbar nav a:hover {
    color: #38bdf8;
}


.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #fff;
}

.hero h2 {
    font-size: 42px;
}

.hero span {
    color: #38bdf8;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #38bdf8;
    color: #000;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 600;
}


.section {
    padding: 70px 10%;
    text-align: center;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
}

.gray {
    background: #f1f5f9;
}


.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skills span {
    background: #e5e7eb;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h3 {
    margin-bottom: 10px;
    color: #0f172a;
}


footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: #9ca3af;
    font-size: 14px;
}
